#hero {
    text-align: center;
    padding: 50px 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    font-family: var(--audiowide-font);
    font-weight: 400;
} 

#presentation {
    max-width: 600px;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: var(--white-color);
    line-height: 1.6;
}


#conteneur_soft_skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}   

.soft_skill {
    background-color: var(--noir-color);
    color: var(--white-color);
    padding: 15px 70px;
    border-radius: 10px;
    box-shadow: 4px 4px 2px 0 #000;
    font-size: 16px;
    font-family: var(--audiowide-font);
    margin: 5px;
    display: inline-block;
}

#conteneur_langage, #conteneur_logiciel {
    display: flex;
    width: auto;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 15px;
}

#conteneur_langage_img, #conteneur_logiciel_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 100px;
    align-items: center;
    margin-top: 15px;
} 


@media screen and (max-width: 1200px) {
    #hero {
        flex-direction: column-reverse;
    }

} 

@media screen and (max-width: 768px) {
    #connaissance img {
        width: 50px;
    }

    #hero img {
        width: 100%;
    }
    #hero h1{
        font-size: 1.25rem;
    }

    #hero p {
        font-size: 0.75rem;
    }

    #conteneur_langage_img, #conteneur_logiciel_img {
        gap: 20px;
    }

    #conteneur_langage_img img, #conteneur_logiciel_img img {
        max-width: 75px;
        /* width: 100%; */
        flex: 1;
    }

    .soft_skill  {
        font-size: 0.75rem;
        padding: 8px 20px;
    }
}