<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# Force le serveur à ne pas chercher de dossier, mais à envoyer l'index
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
</IfModule> 