/* SECTION HERO */
#hero_trace {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero_trace #img_presentation {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

#img_presentation img {
    width: 100%;
}

/* SECTION PRESENTATION TRACE */

#presentation_trace {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--noir-color);
    padding: 50px;
}

.content_info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#presentation_trace .conteneur_paragraphe {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#presentation_trace .conteneur_paragraphe:nth-child(odd) {
    flex-direction: row;
}

#presentation_trace .conteneur_paragraphe:nth-child(even) {
    flex-direction: row-reverse;
}

#presentation_trace .conteneur_paragraphe img {
    width: 100%;
    flex-basis: 50%;
}

#presentation_trace .conteneur_img {
    flex: 1;
}

#presentation_trace .conteneur_paragraphe p {
    flex-basis: 50%;
    flex: 2;
    font-size: 20px;
}

p.amorse {
    flex: 1;
}

@media screen and (max-width: 768px) {
    #presentation_trace .conteneur_paragraphe,
    #presentation_trace .conteneur_paragraphe:nth-child(even),
    #presentation_trace .conteneur_paragraphe:nth-child(odd) {
        flex-direction: column;
        gap: 20px;
    }

    #img_presentation {
        width: 100%;
    }

    #presentation_trace .conteneur_paragraphe p.paragraphe,
    #presentation_trace .conteneur_img {
        width: 100%;
    }
}
