#hero_trace {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    /* display: grid; */

}

#hero_trace #img_presentation  {
    display: flex;
    justify-content: center;
    flex: 1;
    width: 75%;
    align-items: center;
}  

#img_presentation img {
    width: 100%;
}

#presentation_trace .conteneur_paragraphe {
    display: flex;
    /* grid-template-columns: 1fr 1fr; /* Ou repeat(3, 1fr) */
    /* grid-template-rows: 1fr; */

    align-items: center;
    justify-content: center;
    

}

#presentation_trace .conteneur_paragraphe img {
    /* flex: 1; */
    width: 100%;
    flex-basis: 50%;
    display: flex;
}

#presentation_trace .conteneur_img {
    width: 50%;
}

#presentation_trace .conteneur_paragraphe p {
    width: 50%;
    flex-basis: 50%;
    display: flex;

    font-size: 20px;
    
}

