#hero {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    display: grid;
}

#hero img {
    /* flex: 1; */
    width: 100%;
}  

.conteneur_paragraphe {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Ou repeat(3, 1fr) */
  grid-template-rows: 1fr;

    /* align-items: center;
    justify-content: center; */

}4

.conteneur_paragraphe img {
    /* flex: 1; */
    width: 100%;
}

.conteneur_paragraphe p {
    width: 50%;
    display: block;
}