.card_trace {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 350px;
    height: 450px;
    gap: 10px;
    background-color: var(--noir-color);
    border-radius: 30px;
    box-shadow: 4px 4px 4px 0 var(--violet, #380366);
}

.card_trace a {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: bottom;
    align-items: bottom;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.card_trace:hover {
    box-shadow: 6px 6px 8px 0 var(--vert-color, #00FF37);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    background-color: #000;

    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    border-radius: 0 0 30px 30px;
}

.card_trace a {
    text-decoration: none;
    color: var(--black-color);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
}

.tag {
    background-color: var(--bleu-marine-color);
    color: var(--white-color);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 5px;
}

.card_trace img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}